* {
    box-sizing: border-box;
    margin: 0;
}

.demo-wrapper {
    display: table;
    max-width: 420px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    display: block;
    position: relative;
    padding: 20px;
    text-align: center;
    color: #102030;
}

.link-inner {
    perspective: 820px;
}

.link img {
    display: block;
    width: 300px;
    transform: rotateX(0deg) rotateY(30deg);
    border-left: 5px solid #ccc;
    border-radius: 8px;
    transition: .5s ease-in-out;
}

.link img.mobile {
    position: absolute;
    z-index: 5;
    right: 20px;
    top: 45px;
    width: 90px;
    transform: rotateX(0deg) rotateY(-30deg);
    border-right: 4px solid #ccc;
    border-left: 0 solid #ccc;
    border-radius: 8px;
}

.link:hover img {
    transform: translateY(-20px);
    border-left: 0 solid #ddd;
    border-right: 0 solid #ccc;
}

.post-meta {
    margin-top: 20px;
}

.post-meta h2 {
    margin-bottom: 15px;
}

.audio-container {
    background-color: #1c597f; /* Цвет фона контейнера с аудиоплеером */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(74, 7, 7, 0.1);
}

.body_player {
    background-color: #162a11; /* Цвет фона страницы */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin: 0;
}

.video_body {
    background-color: #450e0e; /* Цвет фона страницы */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.video_container {
    background-color: #1ab9ac; /* Цвет фона контейнера с видео */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

 iframe {
            border: none;
        }