<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>{{answer_id.name}}</h1>
<p>{{answer_id.email}}</p>
<p>{{answer_id.description}}</p>
<button><a href="/answer_list/{{answer_id.id}}/delete/">Удалить</a></button>
<button><a href="/answer_list/{{answer_id.id}}/update/">Изменить</a></button>

<ul>
    {% for i in answer_id.correct.all %}
    <li>
        <h1>{{i.text}}</h1>
        <p>{{i.stars}}</p>
    </li>
    {% endfor %}
</ul>

</body>
</html>