{% include 'header_and_footer/header.html' %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for i in query %}

        <div class="card" style="width: 18rem;">
            <img src="{{i.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ i.title }}</h5>
                <p class="card-text">{{ i.pub_date }}</p>
                <a href="/blog/{{i.id}}/" class="btn btn-primary">Детально</a>
            </div>
        </div>


        {% endfor %}

    </div>
</div>
{% include 'header_and_footer/footer.html' %}