{% include 'header_and_footer/header.html' %}

<h1>Список друзей</h1>
<ol>
    {% for i in person %}

    <li>
        <h3><strong>Name - {{i.username}}</strong></h3>
        <p>Email - {{i.email}}</p>
        <p>Phone - {{i.phone_number}}</p>
        <p>Gender - {{i.gender}}</p>
        <p>Name - {{i.first_name}}</p>
        <p>L Name - {{i.last_name}}</p>
    </li>

    {% endfor %}
</ol>


<form action="{% url 'person:login' %}" method="POST" enctype="multipart/form-data">
    {%csrf_token%}
    <button type="submit">Выйти</button>
</form>


{% include 'header_and_footer/footer.html' %}